/.gradle/
build/
*.txt
!gradle/wrapper/gradle-wrapper.jar
!**/src/test/**/build/
/src/main/java/com/atrilos/unsorted
input.txt

### IntelliJ IDEA ###
.idea
out/
!**/src/test/**/out/
/src/main/java/com/test/
